body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F8FAFC;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 2rem;
}

.logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.logo button {
    color: inherit;
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-links a.active {
    color: #9666eb;
}

.toggle-menu {
    display: none;

    border: none;
    background: transparent;
    cursor: pointer;

    padding: 0.5rem;
    border-radius: 0.5rem;

    transition: background-color 0.2s ease;
}

.toggle-menu:hover {
    background-color: #f1f5f9;
}

.toggle-menu:focus-visible {
    outline: 2px solid #2563eb;
    outline-offset: 4px;
}

/* SVG Icon */

.toggle-menu img {
    display: block;
    width: 1.75rem;
    height: 1.75rem;
}





/*  Hero Section  */























    /* Footer Section  */

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }




@media (max-width: 768px) {
    .toggle-menu {
        display: block;
    }

    nav {
        flex-direction: column;
        align-items: stretch;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        box-shadow: 0 10px 30px rgba(0,0,0,.08);
    }

    nav ul.open {
        display: flex;
    }

    #hero {
        padding: 2.5rem;
    }
    
        .primary-btn {
            padding: 1em;
            margin: 0.5em;
            border-radius: 30px;
        }
        .primary-btn:hover {
            background: transparent;
            background-color: #2563eb;
        }
        
        .secondary-btn {
            padding: 1em;
            margin: 0.5em;
            border-radius: 30px;
            background-color: #b155ee;
        }
        
        .secondary-btn:hover {
            background: transparent;
        background-color: #a32fa7;
        }



}
