body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F8FAFC;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 2rem;
}

section {
    margin: 1em 11px;
}

.logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.logo button {
    color: inherit;
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 2rem;
}

nav li {
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-links a.active {
    color: #9666eb;
}

.toggle-menu {
    display: none;

    border: none;
    background: transparent;
    cursor: pointer;

    padding: 0.5rem;
    border-radius: 0.5rem;

    transition: background-color 0.2s ease;
}

.toggle-menu:hover {
    background-color: #f1f5f9;
}

.toggle-menu:focus-visible {
    outline: 2px solid #0040c9f3;
    outline-offset: 4px;
}

/* SVG Icon */

.toggle-menu img {
    display: block;
    width: 1.75rem;
    height: 1.75rem;
}





/*  Hero Section  */



    #hero {
        display: flex;
        justify-content: space-around;
        gap: 2em;
        padding: 2.5rem;
    }

    .hero-description {
        font-size: larger;
    }

    .hero-text {
        flex: 1;
    }
    
        .primary-btn {
            padding: 1.5em;
            margin: 0.5em;
            border-radius: 30px;
            font-size: large;
            font-weight: 700;
        }
        .primary-btn:hover {
            background: transparent;
            background-color: #0040c9f3;

        }
        
        .secondary-btn {
            padding: 1.5em;
            margin: 0.5em;
            border-radius: 30px;
            background-color: #7B0FC7;
            font-size: large;
            font-weight: 700;
            color: #fff;
        }
        
        .secondary-btn:hover {
            background: transparent;
            background-color: #7B0FC7;
        
        }

        .hero-image img {
            object-fit: cover;
            max-width: 32em;
            border-radius: 30px;
        }



        /* Testinomial Section  */

        .p-text {
            color: rgb(114, 105, 105);
            font-size: large;
            text-align: center;
        }

        #testimonial {
            display: flex;
            flex-direction: column;
        }

        #testimonial > h2, #testimonial > p {
            width: 500px;
            margin: 20px auto;
            text-align: center;
        }

        .testimonial-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .testimonial-card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 200px;
            margin: 11px;
            padding: 1em;
            border: 2px solid black;
            border-radius: 11px;
        }

        .testimonial-card  h3 {
            color: #7B0FC7;
            
        }
        .testimonial-card  h3:hover {
            color: #0040c9f3;
            
        }

        .client {
            display: flex;
            justify-content: space-between;
            gap: 0.5em;
            margin: 0;
        }

        .client img {
        width: 1.5em;
        }

        .client-name-company {
            display: flex;
            flex-direction: column;
            padding: 0;
            justify-content: center;
        }

        .client-name-company h3, .client-name-company p {
            margin: 0;
        }


        /* Services Section  */

        #services > h2, #services > p {
            width: 500px;
            margin: 20px auto;
            text-align: center;
        }



        .service-container {
            display: flex;
            border-radius: 11px;
            margin: 0 auto;
            padding: 20px;
            justify-content: center;
            gap: 2em;
            flex-wrap: wrap;
        }
        
        .service-card {
            display: flex;
            flex-direction: column;
            width: 300px;
            padding: 0.5em;
            text-align: center;
            border: 1px solid black;
            border-radius: 11px;
            transition: transform 0.25s ease, box-shadow 0.25s ease;
        }


        .service-card:hover {
            transform: translateY(-6);
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 
              0 8px 10px -6px rgba(0, 0, 0, 0.04);
        }


        .service-card > h3 {
            font-size: larger;
            color: #7B0FC7;
        }

        .service-card > p {
            font-size: large;
        }

        .service-card > h3:hover {
            color: #0040c9f3;
            
        }
        
        
        /* Pricing Section  */
        
        #pricing > h2 , #pricing > p{
            width: 500px;
            margin: 20px auto;
            text-align: center;
        }

        .pricing-card > h3 {
            color: #7B0FC7;
            
        }


        .pricing-card > h3:hover {
            color: #0040c9f3;
        }

        .pricing-container {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            gap: 2em;
            flex-wrap: wrap;
        }
        
        
        .pricing-card {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 240px;
            border: 1px solid black;
            padding: 0.5em;
            border-radius: 11px;
            
        }


        .price {
            font-size: x-large;
            font-weight: bold;
        }
        
        .pricing-card * {
            margin: 5px auto;
        }
        
        .pricing-button {
            padding: 1.5em;
            border-radius: 7px;
            font-size: small;
            font-weight: bold;
        }

        .pricing-button:hover {
            background-color: #0040c9f3;

        }

        /* Contact Us  */

        #contact-us {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }

        .contact-us-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 320px;
            margin: 11px auto;
            gap: 1em;
            border: 1px solid black;
            border-radius: 11px;
        }

        .contact-us-container > h2 {
            font-size: x-large;
            color: #7B0FC7;
        }


        .contact-us-container > h2:hover {
            color: #0040c9f3;
            
        }

        .contact-us-button {
            margin-bottom: 11px;
            padding: 1.1em 2em;
            border-radius: 7px;
            font-size: small;
            font-weight: bold;
        }

        .contact-us-button:hover {
            background-color: #0040c9f3;
        }

        .contact-us-input , #contact-us-message {
            width: 230px;
            line-height: 1.5;
            padding: 0.7em;
            margin: 0 auto;
            border-radius: 7px;
            border: 1px solid black;
        }

        .contact-details {
            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 0.1em;
            margin: 5px;
        }


        #form  {
            display: flex;
            flex-direction: column;
            margin: 0;
        }



    /* Footer Section  */

    footer {
        display: flex;
        margin: 20px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border-top: 1px solid black;
        background-color: rgb(7, 7, 7);
        padding: 1em;
        gap: 3em;
        color: #fff;
    }
    
    footer * {
        margin: 0 auto;
    }

    .footer-details {
        display: flex;
        justify-content: center;
        gap: 3em;
        margin: 11px;
    }

    .footer-quick-links {
        display: flex;
    }

    .footer-card {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

     .footer-card h3{
        align-self: flex-start;
        margin: 0;
    }
    
    .footer-card ul {
        list-style: none;
        display: flex;
        gap: 2em;
        margin: 0;
        padding: 0;
    }

    .footer-text {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    
    .copyright-text {
        font-weight: bold;
        color: #0040c9f3;
    }

    .copyright-text:hover {
            color: #AC86EE;
            
        }
    
    .task {
        font-weight: bold;
        color: #AC86EE;
    }
    .task:hover {
            color: #0040c9f3;
            
    }





    /* Media Queries  */


    @media (max-width : 990px) {
        #hero {
            flex-direction: column;
            align-items: center;
        }
    }


@media (max-width: 768px) {
    .toggle-menu {
        display: block;
    }

    nav {
        flex-direction: column;
        align-items: stretch;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        box-shadow: 0 10px 30px rgba(0,0,0,.08);
    }

    nav ul.open {
        display: flex;
    }

    #hero {
        flex-direction: column;
    }

    .hero-image img {
        width: 100%;
    }

    .footer-details {
        flex-direction: column;
    }

    .footer-details > h2 {
        align-self: flex-start;
        margin: 0;
    }

}


@media (max-width: 600px) {

    #services > h2, #services > p  {
        width: 320px;
    }

    .contact-us-container {
        width: 270px;
    }

    .contact-us-input, #contact-us-message {
        width: 200px;
    }

    #testimonial > h2, #testimonial > p {
        width: 320px;
    }

    #pricing > h2{
        width: 320px;
    }

    #pricing > p {
        width: 270px;
    }

    .footer-details ul {
        flex-direction: column;
    }

    footer {
        align-items: center;
    }

}

@media (max-width:640px) {

    #pricing > h3 {
        width: 340px;
    }

}

@media (max-width : 440px) {
    
    #testimonial > h2, #testimonial > p {
        width: 270px;
    }

    .copyright-text, .task {
        font-size: medium;
        text-align: center;
    }
}